/* your styles go here */
/*
*
=====================
SCROLLER
=====================
*
*/
.scroller{
    bottom: 30px;
    color: rgba(235, 235, 235, 0.5);
    display: inline-block;
    font-size: 40px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 120px;
    scroll-behavior: smooth;
    z-index: 100;
}
.scroller:focus{
    color: inherit;
    text-decoration: none;
}
.scroller .scroller-text{
    text-decoration: none;
    display: block;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ececec;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.scroller .scroller-button{
    border: 2px solid rgba(235, 235, 235, 0.5);
    display: inline-block;
    padding: 6px 5px 4px;
    border-radius: 20px;
    font-size: 0.8em;
    scroll-behavior: smooth;
}
.scroller:hover{
    text-decoration: none;
    color: #ebebeb;
}
.scroller:hover .scroller-text{
    text-decoration: none;
    opacity: 1;
    transform: translateY(-10px);
}
.scroller:hover .scroller-button{
    border: 2px solid #ebebeb;
}

html{
    scroll-behavior: smooth;
}

/*
*
=====================
fadeBox
=====================
*
*/
l#fadebox{
    left:-3%;
}
@media (max-width: 767.98px) {
    #fadebox{
        text-align: center;
        left:-20%;
    }
}
.fade{
    opacity:0;
}
.fadeImg{
    opacity:1;
    width: 9%;
}

#fade1{
    padding: 100px 0px 0px 100px;
    animation: fade 2s ease 0ms infinite;
    -webkit-animation: fade 2s ease 0ms infinite;
}

#img1{

    animation: fade 2s ease 0ms infinite;
    -webkit-animation: fade 2s ease 0ms infinite;
}
#fade2{
    padding: 100px 0px 0px 200px;
    animation: fade 2s ease 3000ms infinite;
    -webkit-animation: fade 2s ease 3000ms infinite;
}
#fade3{
    padding: 10px 0px 0px 50px;
    animation: fade 2s ease 1000ms infinite;
    -webkit-animation: fade 2s ease 1000ms infinite;
}
#fade4{
    padding: 70px 0px 0px 200px;
    animation: fade 2s ease 2000ms infinite;
    -webkit-animation: fade 2s ease 2000ms infinite;
}
#fade5{
    padding: 30px 0px 50px 300px;
    animation: fade 2s ease 6000ms infinite;
    -webkit-animation: fade 2s ease 6000ms infinite;
}
#fade6{
    padding: 10px 0px 0px 200px;
    animation: fade 2s ease 1500ms infinite;
    -webkit-animation: fade 2s ease 1500ms infinite;
}
#fade7{
    padding: 10px 0px 20px 70px;
    animation: fade 2s ease 1200ms infinite;
    -webkit-animation: fade 2s ease 1200ms infinite;
}
#fade8{
    padding: 50px 0px 0px 300px;
    animation: fade 2s ease 4000ms infinite;
    -webkit-animation: fade 2s ease 4000ms infinite;
}
#fade9{
    padding: 10px 0px 0px 100px;
    animation: fade 2s ease 5000ms infinite;
    -webkit-animation: fade 2s ease 5000ms infinite;
}
#fade10{
    padding: 20px 0px 0px 70px;
    animation: fade 2s ease 3500ms infinite;
    -webkit-animation: fade 2s ease 3500ms infinite;
}
#fade11{
     padding: 20px 0px 0px 250px;
     animation: fade 2s ease 1800ms infinite;
    -webkit-animation: fade 2s ease 1800ms infinite;
 }
#fade12{
    padding: 30px 0px 0px 170px;
    animation: fade 2s ease 2200ms infinite;
    -webkit-animation: fade 2s ease 2200ms infinite;
}
#fade13{
    padding: 60px 0px 0px 100px;
    animation: fade 2s ease 700ms infinite;
    -webkit-animation: fade 2s ease 700ms infinite;
}
#fade14{
    padding: 100px 0px 0px 200px;
    animation: fade 2s ease 400ms infinite;
    -webkit-animation: fade 2s ease 400ms infinite;
}
#fade15{
    padding: 40px 0px 0px 50px;
    animation: fade 2s ease 2100ms infinite;
    -webkit-animation: fade 2s ease 2100ms infinite;
}
#fade16{
    padding: 80px 0px 0px 200px;
    animation: fade 2s ease 3200ms infinite;
    -webkit-animation: fade 2s ease 3200ms infinite;
}

@keyframes fade{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@-webkit-keyframes fade{
    0%{opacity:0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
@-ms-keyframes fade{
    0%{opacity: 0;}
    50%{opacity: 95%;}
    100%{opacity: 0;}
}
@-o-keyframes fade{
    0%{opacity: 0;}
    50%{opacity: 95%;}
    100%{opacity: 0;}
}

/*
*
=====================
Section Borders
=====================
*
*/
.white-section{
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: #eee;
    padding-bottom: 100px;
}

.grey-section{
    padding-bottom: 100px;
    background-color: #eee;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: #ffffff;

}
/*
*
=====================
Additions and Comments
=====================
*
*/
.intro-words {
    font-size: 1.4375rem;
    font-weight: 500;
    margin-top: -10px;
    padding-bottom: 10px;
}
.comments{
    /*padding-left: 20px;*/
    font-size: 0.5rem;
    text-align: left;
    color: #7E7E7E;
}

@media (max-width: 1199.98px) {
    #mainTitle {
        /*
        margin-top: -50px;
        */

    }
}
@media (max-width: 767.98px) {
    #mainTitle {
        margin-top: -50px;
    }
}
@media (max-width: 576px) {
    #mainTitle {
        margin-top: -120px;
        padding-left: 15%;
        font-size: 2.0rem;
        font-weight: 500;
    }
}


/*
*
=====================
E-charts
=====================
*
*/
@media (max-width: 991.98px) {
    #main2-container {
        height: 450px;

    }
    #main3-container {
        height: 450px;

    }
    #main4-container {
        height: 450px;

    }
}
@media (max-width: 767.98px) {
    #main1-container {
        width: 100%;
        height: 350px;
    }
    #main3-container {
        width: 100%;
        height: 400px;
    }
    #main4-container {
        width: 100%;
        height: 400px;
    }
}



